# https://github.com/GrantBirki/dotfiles

[core]
	autocrlf = false
	sshCommand = ~/.local/bin/git-secretive-ssh
[user]
	email = grant.birkinbine@gmail.com
	name = GrantBirki
	signingkey = ~/.config/git/secretive_git_key.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[include]
	path = ~/.config/git/secretive-program.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgSign = true
[tag]
	gpgSign = true
	forceSignAnnotated = true
[pull]
	rebase = false
[sequence]
	editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
