# https://github.com/GrantBirki/dotfiles

[core]
	autocrlf = false
[user]
	email = grantbirki@github.com
	name = GrantBirki
	signingkey = 96DF969ECBD266FE
[gpg]
	program = gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgSign = true
[pull]
	rebase = false
[sequence]
	editor = code --wait
